<?xml version="1.0" encoding="utf-8"?>
<configuration>
    <packageSources>
        <clear />
        <!--add key="dotnet-core" value="https://dotnet.myget.org/F/dotnet-core/api/v3/index.json" /--> <!-- Fails authentication. TODO: add proxy? -->
        <add key="api.nuget.org" value="https://api.nuget.org/v3/index.json" />
        <!-- add key="github" value="https://nuget.pkg.github.com/OWNER/index.json" /--> <!-- Fails authentication. TODO: add token to some security group? -->
    </packageSources>
</configuration>
