name: .NET

on:
  push:
    branches: [ master ]
  pull_request:
    branches: [ master ]

env:
  GITHUB_TOKEN: ${{ secrets.GITHUB_TOKEN }}
  MAIN_PROJECT: HAProxy.StreamProcessingOffload.Agent/HAProxy.StreamProcessingOffload.Agent.csproj
  TEST_PROJECT: HAProxy.StreamProcessingOffload.Agent/HAProxy.StreamProcessingOffload.Agent.Tests.csproj
jobs:
  build:
    runs-on: ubuntu-latest
    
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.x
    - name: Restore dependencies
      run: 
        dotnet restore ${{ env.MAIN_PROJECT }}
        dotnet restore ${{ env.TEST_PROJECT }}
    - name: Build
      run: 
        dotnet build ${{ env.MAIN_PROJECT }} --no-restore -c Release
        dotnet build ${{ env.TEST_PROJECT }} --no-restore -c Release
    - name: Test
      run: 
        dotnet test ${{ env.TEST_PROJECT }} --no-build --verbosity normal
    - name: Publish
      run: 
        dotnet publish ${{ env.MAIN_PROJECT }}  --no-build -c Release --version-suffix "criteo"

