name: .NET

on:
  push:
    branches: [ master ]

env:
  PUBLISHED_ARTEFACT_VERSION: 1.0.3-criteo
      
jobs:
  release-master-tar:
    runs-on: ubuntu-latest
    env:
      MAIN_PROJECT: HAProxy.StreamProcessingOffload.Agent/HAProxy.StreamProcessingOffload.Agent.csproj
      TEST_PROJECT: HAProxy.StreamProcessingOffload.Agent.Tests/HAProxy.StreamProcessingOffload.Agent.Tests.csproj
      PUBLISHED_ARTEFACT_NAME: haproxy-spoa-v${{ env.ARTEFACT_VERSION }}
    steps:
    - uses: actions/checkout@v2
    - name: Setup .NET
      uses: actions/setup-dotnet@v1
      with:
        dotnet-version: 2.1.x
        source-url: https://api.nuget.org/v3/index.json
      env:
        NUGET_AUTH_TOKEN: ${{secrets.GITHUB_TOKEN}}
    - name: 'Restore dependencies Agent'
      run: dotnet restore ${{ env.MAIN_PROJECT }}
    - name: 'Build Agent'
      run: dotnet build ${{ env.MAIN_PROJECT }} --no-restore -c Release
    - name: 'Restore dependencies Test'
      run: dotnet restore ${{ env.TEST_PROJECT }}
    - name: 'Build Tests'
      run: dotnet build ${{ env.TEST_PROJECT }} --no-restore -c Release
    - name: 'Run Tests'
      run: dotnet test ${{ env.TEST_PROJECT }} --no-build -c Release --verbosity normal
    - name: 'Publish Agent'
      run: dotnet publish ${{ env.MAIN_PROJECT }}  --no-build -c Release --version-suffix "criteo"
    - name: 'Tar and Zip files'
      run: tar --czvf ${{env.PUBLISHED_ARTEFACT_NAME}}.tar.gz /home/runner/work/haproxy-spoa-dotnet/haproxy-spoa-dotnet/HAProxy.StreamProcessingOffload.Agent/bin/Release/netstandard2.0/publish/**
    - name: 'Upload Artifact'
      uses: actions/upload-artifact@v2
      with:
        name: ${{env.PUBLISHED_ARTEFACT_NAME}}
        path: ${{env.PUBLISHED_ARTEFACT_NAME}}.tar.gz
